.clpw {
	background-color: $dark;

	.clpw-wrapper {
		background-color: $dark;
		overflow: hidden;
	}

	.crypto-pairs {
		display: flex;
		flex-wrap: wrap;
		background-color: $dark;
		color: #fff;
		height: 150px;
		position: relative;
		padding-left: 25px;
		
		@media screen and (min-width: 400px) {
			padding-left: 69px;
		}

		.pair {
			background-color: $dark;
			padding: 31.8px 0;
			height: 150px;
		
			.price-big{
				line-height: 1.2;
				font-weight: 700;
				font-size: 1.6rem;
			}
		
			.price-small {
				color: $secondary;
			}

			.percentage-pair {
				display: flex;
				align-items: center;
					
				.percent-color-g {
					color: #32CD32;
				}
				
				.percent-color-r {
					color: #db1717;
				}
			}
		}
		
	}
}