.clpw {
	background-color: #000;
}

.clpw-wrapper {
	background-color: #000;
	overflow: hidden;
}

.crypto-pairs {
	display: flex;
	flex-wrap: wrap;
	background-color: #000;
	color: #fff;
	height: 150px;
	position: relative;
}

@media screen and (max-width: 576px) {
	.crypto-pairs {padding-left: 30px}
}

.pair {
    background-color: black;
	padding: 31.8px 0;

        .price-big{
         	line-height: 1.2;
			font-weight: 700;
			font-size: 2rem;
     }
}

.percentage-pair-name {
	display: flex;
}

.percent-color-g {
	color: #32CD32;
}

.percent-color-r {
	color: #db1717;
}