.font-weight-bold{
	font-weight: 700;
}

.font-weight-normal {
	font-weight: 400;
}

.font-for-dropdown {
	color: #ff6a3d;
	padding-right: 15px;
	font-size: 1.6rem;
}

.font-for-perks {
	font-size: 50px;
	padding-bottom: 10px;
	color: $primary;	
}