.footer {
    height: auto;
    background-color: $white;

    .text-uppercase.fw-bold {
        color: $white;
    }

    .footer-divider {
        opacity: 1;
    }

    .text-white {
        text-decoration: none;
        transition: 0.4s, color 0.4s, border 0.8s;

        &:hover {
            color: $primary;
        }
    }
}