.navbar {
    font-weight: 400;
    padding: 0.3rem;
    text-transform: none;

    .navbar-toggler {
        border: none;

        &:focus,
        .navbar-toggler:active,
        .navbar-toggler-icon:focus {
            outline: none;
            box-shadow: none;
        }
    }

    .navbar-brand {
        padding: 10px;
        width: 5.5rem;

        .img-fluid {
            margin-left: 10px;
        }
    }

    .navbar-collapse {
        .login-register-ul {
            margin: 0rem;

            @media screen and (max-width: 990px) {
                padding-left: 0px;
                border-top: solid 1px #BFBFBF;
            }

            #logout {
                margin: 0rem;
                font-weight: 500;
                color: $dark;
                margin-right: 0.9rem;

                @media screen and (max-width: 990px) {
                    padding-left: 0px;
                    border-top: solid 1px #BFBFBF;
                }
            }

            .login-register {
                display: flex;
                justify-content: flex-end;
                align-content: center;

                .register {
                    margin: 0rem;
                }
            }
        }

        .nav-item {
            margin-right: 0.9rem;

            @media screen and (max-width: 991px) {
                &:hover {
                    color: lighten($dark, 50%);
                }

                .nav-link.dropdown-toggle,
                a.nav-link {
                    text-align: center;
                    color: $primary;
                    padding: 30px 20px 10px;
                }
            }

            .nav-link.drop-down-toggle.show {
                border-top: 1px solid transparent;
            }

            &.dropdown:hover .dropdown-menu {
                opacity: 1;
                visibility: visible;
                box-shadow: 0px -5px 15px -19px #000;

                @media screen and (max-width: 991px) {
                    box-shadow: none;
                }
            }

            .dropdown-menu {
                border: 0;
                padding: 14px 34px 34px 34px;
                line-height: 5rem;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                margin-top: 0px;
                left: -26px;
                transition: all 0.3s;
                display: block;
                visibility: hidden;
                opacity: 0;
                visibility: hidden;
                box-shadow: 0px 1px 3px #666;

                @media screen and (max-width: 991px) {
                    visibility: visible;
                    opacity: 1;
                    box-shadow: none;
                    padding: 0px;
                }

                .drpm-cryptocurrencies {
                    left: -43px;
                }

                .dropdown-item {
                    border-radius: 15px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    background-color: #fff;

                    @media screen and (max-width: 991px) {
                        font-weight: 500;
                        justify-content: center;
                        height: 50px;


                        i {
                            display: none;
                        }

                    }

                    &:hover {
                        background-color: darken(#fff, 4%);

                        @media screen and (max-width: 991px) {
                            background-color: $white;
                        }
                    }
                }

                .dropdown-item a {
                    text-decoration: none;
                }
            }
        }

        .modal.fade.show {
            .modal-backdrop {
                opacity: 0 !important;
            }

            .modal-dialog,
            .modal-content {
                /* 80% of window height */
                height: 100%;
                margin: 0px;
            }

            .modal-dialog {
                max-width: 100%;

                .modal-content {
                    border: none;

                    .modal-header .btn-close {
                        margin-right: 1rem;
                        margin-top: 0.5rem;
                    }

                    .modal-body {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        overflow-y: visible;
                        padding-top: 0px;

                        #log-in-form, #sign-up-form {
                            width: 25rem;

                            @media screen and (max-width: 435px) {
                                width: 100%;
                            }

                            .modal-text-fpw-reg {
                                display: flex;
                                justify-content: flex-end;
                                margin-top: -14px;
                            }
                            
                            a.fpw-reg.modal-text-fpw-reg {
                                text-decoration: none;
                                transition: 0.4s, color 0.4s, border 0.8s;
                                color: #666;
    
                                &:hover {
                                    color: $primary;
                                }
                            }
                        }
                    }
                    .modal-footer-text {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        padding-top: 1.45rem;
                    }
                }
            }
        }
    }
}

.navbar-light {
    .navbar-nav {
        .dropdown-menu {
            margin-top: -10px;
            align-items: center;

            @media screen and (max-width: 991px) {
                padding: 0px;
            }
        }

        .nav-link {
            color: $dark;
            font-weight: 500;
            padding: 20px;

            &:hover {
                color: lighten($dark, 50%);
            }

            @media screen and (max-width: 991px) {
                .dropdown-menu {
                    visibility: visible;
                }
            }
        }

        .nav-link.nav-link-bg {
            background-color: $dark;
            color: $white;
            width: 90px;
            border: 1px solid transparent;
            transition: background-color 0.8s, color 0.8s, border 0.8s;
            padding: 12px;
        }

        .nav-link.nav-link-bg:hover {
            background-color: transparent;
            color: $dark;
            border: solid 1px $dark;
        }
    }
}