.hero {
    height: calc(100vh - 210px);
    background-color: $dark;
    cursor: default;

    .hero-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: calc(100vh - 210px);
        align-items: center;
        padding-left: 55px;
    
        .hero-image .img{
            width: 700px;
        }
    
        .hero-text{
            .hero-text1 {
                font-size: 3rem;
                font-weight: 300;
                color: $white;
            }
            
            .hero-text2 {
                font-weight: 700;
                font-size: 4rem;
                color: $white;
            }
        }
        
        .hero-par {
            font-size: 1rem;
            color: #fff;
            max-width: 600px;
        }
    }
}