.ms-about {
    height: auto;
    background-color: $bgwhite;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 70px;

    .ms-about-text {
        width: 450px;
    }
}