@include media-breakpoint-down(md){
    .percentage-pair-name, .price-small, .price-big{
        font-size: 70%;
    }
}

@include media-breakpoint-down(md){
    .crypto-pairs .col-sm-6{
        height: 100%;
    }
}

@include media-breakpoint-down(md){
    .crypto-pairs .col-sm-6 .pair{
        padding: 39px 0px;
        height: 100%;
    }
}