.ms-partners {
    background-color: $bgwhite;

    .partner-pairs {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 0.9rem 1rem 0.9rem;
        flex-wrap: wrap;

        .partner-pair {
            text-align: center;
            font-weight: 400;
            height: 200px;
            width: 123px;

            img {
                width: 90px;
                border-radius: 100%;
                transition: 0.4s, color 0.4s, border 0.8s;
                opacity: 40%;

                @media screen and (max-width: 940px) {
                    opacity: 100%;
                }
                
                &:hover {
                    opacity: 100%;
                }
            }
        }
    }
}