.ms-about {
    height: auto;
    background-color: $bgwhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 80px 97px 110px 97px;

    .ms-about-text {
        width: 470px;
    }
}