// Shape
.shape-triangle {
    width: 0;
    height: 0;
    border-top: 91.6px solid $primary;
    border-right: 91.6px solid transparent;
    position: absolute;
}

.ms-updates {
    background-color: $dark;
    padding-top: 40px;
    overflow: hidden;

    .updates-item {
        margin: 0rem auto 2.8rem auto;
        display: flex;
        justify-content: center;

        .updates-item-shape {
            .shape-symbol {
                position: absolute;
                color: white;
                font-size: 1.4rem;
                padding-top: 1px;
            }
        }

        .updates-item-txtbtn {
            display: flex;
            justify-content: space-between;
            width: 625.333px;
            border: 1px solid #ff6a3d;

            @media screen and (max-width: 650px) {
                width: 18rem;
                height: 91px;
            }

            h2 {
                @media screen and (max-width: 650px) {
                    font-size: 0.8rem;
                    text-align: right;
                    padding-right: 20px;
                }
            }

            .updates-button {
                border-left: hidden;
                font-size: 1.1rem;
                width: 104.5px;
                height: 91.3px;
                display: flex;
                justify-content: center;
                align-items: center;

                @media screen and (max-width: 650px) {
                    display: none;
                }
            }
        }

        h2 {
            color: $white;
            font-size: 1rem;
            max-width: 26rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 0px;
            padding-left: 110px;
        }
    }
}