.section-newsletter {
    background-color: $dark;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    .newsletter-text {
        padding: 40px;

        .newsletter-text1 {
            font-size: 1rem;
            color: $primary;
        }

        .newsletter-text2 {
            color: $white;
        }
    }

    .newsletter-action {
        display: flex;
        justify-content: center;
        width: 625.333px;

        .newsletter-input {
            background-color: $dark;
            border-top: 1px solid $primary;
            border-bottom: 1px solid $primary;
            border-left: 1px solid $primary;
            color: $white;
            font-size: 1.25rem;

            @media screen and (max-width: 650px) {
                width: 12rem;

                &::placeholder {
                    font-size: 14px;
                }
            }
        }

        .newsletter-button {
            border: solid 1px $primary;
            border-left: hidden;

            @media screen and (max-width: 650px) {
                width: 6rem;
            }
        }
    }
}